html{
    background: url("https://i.pinimg.com/736x/8b/2d/db/8b2ddbd9d7627effe0613e92252acc6f.jpg");
}
body{
    text-align: center;
    font-family:'Franklin Gothic Medium';
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    color: rgb(106, 59, 2);
    font-size: 70px;
    font-weight: 700;
    line-height: 200px;
}
button{
    display: inline-block;
    padding: 150px 200px;
    font-size: 60px;
    font-family:'Franklin Gothic Medium';
    cursor: pointer;
    text-align: center;
    color:rgb(240, 230, 206);
    background-color: rgb(27, 91, 187);
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #99c3f4aa;
}
button:active {
  box-shadow: 0 5px #60a4f1b8;
  transform: translateY(4px);
}
