html{
    background: url("https://i.pinimg.com/736x/8b/2d/db/8b2ddbd9d7627effe0613e92252acc6f.jpg");
}
body{
    text-align: center;
    font-family:'Franklin Gothic Medium';
}
header{
    color: rgb(27, 91, 187);
    font-size: 70px;
    font-weight: 700;
    line-height: 100px;
}
h1{
    color: rgb(106, 59, 2);
    font-size: 50px;
}
p{
    color: rgb(106, 59, 2);
    font-size: 30px;
    line-height: 100px;
}
div{
    display: flex;
    justify-content: space-evenly;
    font-size: large;
}
button{
    padding: 15px 25px;
    font-size: larger;
    font-family:'Franklin Gothic Medium';
    cursor: pointer;
    text-align: center;
    color:rgb(240, 230, 206);
    background-color: rgb(27, 91, 187);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #99c3f4aa;
}

button:active {
    box-shadow: 0 5px #60a4f1b8;
    transform: translateY(4px);
}
#ref{
    display: inline-block;
    padding: 100px 200px;
    margin: 50px auto;
    font-size: 60px;
    font-family:'Franklin Gothic Medium';
    cursor: pointer;
    color:rgb(240, 230, 206);
    background-color: rgb(27, 91, 187);
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #99c3f4aa;
}